{% extends 'layout/base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block content %}

<div class="container pt-5 p-0 mb-5 d-flex flex-row gap-5">
    <div class="row d-flex flex-column g-4 justify-content-start  align-items-stretch">

      <div class="col-12 d-block d-md-none mb-4">
        <div class="card rounded border">
            <div class="card-body">
                <button class="btn btn-outline-custom w-100" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
                    <i class="fa-solid fa-bars"></i> Menu
                </button>
            </div>
        </div>
      </div>

      <div class="card p-2 col-md-12" style="width: 15rem;">
        {% if user.profile_picture %}
        <img src="{{user.profile_picture.url}}" class="rounded-3 col-md-12 p-0" alt="...">
        {% else %}
        <img src="../static/images/profile-avathar.png" class="rounded-3 col-md-12 p-0" alt="...">
        {% endif %}

        <div class="card-body p-0">
          <div class="p-1 border border-3 rounded" style="background-color: #aa0a5f; color: white;">
            <h5 class="card-title active">{{ user.first_name }} {{ user.last_name }}</h5>
          </div>
          <p class="card-text mb-0 p-1">{{ user.username }}</p>
          {% if user.short_reel %}
                <a href="#" class="btn btn-outline-custom btn-sm mt-2">View Reel</a>
            {% else %}
                <p class="text-muted mt-2">No reel uploaded.</p>
          {% endif %}
        </div>
        <ul class="list-group list-group-flush">

    
          <li class="list-group-item nav-text {% if request.path == '/accounts/profile/' %}active{% endif %}">
            <a href="{% url 'accounts:profile_view' %}" class="text-decoration-none {% if request.path == '/accounts/profile/' %}text-color{% endif %}">
                <div class="d-flex">
                    <i class="fa-regular fa-user me-2 {% if request.path == '/accounts/profile/' %}text-color{% endif %}"></i>
                    <span>Profile</span>
                </div>
            </a>
          </li>
          <li class="list-group-item nav-text {% if request.path == '/accounts/skill/' %}active{% endif %}">
            <a href="{% url 'accounts:skill_list' %}" class="text-decoration-none {% if request.path == '/accounts/skill/' %}text-color{% endif %}">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-lightbulb me-2 {% if request.path == '/accounts/skill/' %}text-color{% endif %}"></i>
                    <span>Skill</span>
                </div>
            </a>
          </li>

          <li class="list-group-item nav-text {% if request.path == '/accounts/experience/' %}active{% endif %}">
            <a href="{% url 'accounts:experience_list' %}" class="text-decoration-none {% if request.path == '/accounts/experience/' %}text-color{% endif %}">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-briefcase me-2 {% if request.path == '/accounts/experience/' %}text-color{% endif %}"></i>
                    <span>Experience</span>
                </div>
            </a>
          </li>
        
    
          <li class="list-group-item nav-text {% if request.path == '/accounts/education/' %}active{% endif %}">
            <a href="{% url 'accounts:education_list' %}" class="text-decoration-none {% if request.path == '/accounts/education/' %}text-color{% endif %}">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-building-columns me-2 {% if request.path == '/accounts/education/' %}text-color{% endif %}"></i>
                    <span>Education</span>
                </div>
            </a>
          </li>


          <li class="list-group-item nav-text {% if request.path == '/accounts/address/' %}active{% endif %}">
            <a href="{% url 'accounts:address_list' %}" class="text-decoration-none {% if request.path == '/accounts/address/' %}text-color{% endif %}">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-address-book me-2 {% if request.path == '/accounts/address/' %}text-color{% endif %}"></i>
                    <span>Address</span>
                </div>
            </a>
          </li>

          <li class="list-group-item nav-text {% if request.path == '/accounts/change-password/' %}active{% endif %}">
            <a href="#" class="text-decoration-none {% if request.path == '/accounts/change-password/' %}text-color{% endif %}">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-gear me-2 {% if request.path == '/accounts/change-password/' %}text-color{% endif %}"></i>
                    <span>Change Password</span>
                </div>
            </a>
          </li>
          <li class="list-group-item nav-text">
            <a href="{% url 'accounts:logout' %}" class="text-decoration-none">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-right-from-bracket me-2"></i>
                    <span>Logout</span>
                </div>
            </a>
          </li>
        </ul>
    
      </div>
    </div>
    <div class="col-sm-8  shadow-sm px-4 py-4 rounded  bg-body-tertiary">
        {% block accounts_content %}
            
        {% endblock accounts_content %}
    </div>
</div>
{% endblock content %}


