:root{
  --theme-color: #fb246a;
	--theme-color2: #1f2b7b;
	--theme-color3: #f27420;
	--theme-color4: #ff3500;
	--body-text-color: #555;
	--hr-border-color:#eceff8;
}


body{
	/* background-color:#FFF; */
  font-family: "Lato", sans-serif;
  font-weight: 300;
	font-size:16px;
	line-height:18px;
	/* color:#777; */
}

a {
  color: #aa0a5f;
}

a, a:hover, a:focus{
  text-decoration: none;
  outline: 0;
}



/* navbar styles */

.navbar {
    background-color: white;
    /* position: sticky; */
    transition: top 0.3s;
    
}
.logo-area{
  width: 50px;
  height: 50px;
}
.container-fluid{
  padding: 20px 78px;
}

.navbar-nav{
  display: flex;
  gap: 60px;
}
.navbar-nav .nav-item .nav-link {
  color: #252b60;
}

.navbar-nav .nav-link:hover {
  color: #fb246a;
  
}
.navbar-brand {
  text-align: left;
}

.profile-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.profile-icons a {
  color: #ffffff;
  height: 20px;
  width: 20px;
  margin: 0 5px;
}
.login-btn{
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0;
  padding: 27px 44px;
  border-radius: 0px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0px;
  background: none;
  border: 1px solid rgb(251, 36, 106);
  color: rgb(251, 36, 106);
  transition: color 0.4s linear;
}
/* .login-btn::before{
  color: #fff;
} */

.login-btn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #da2461;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
.login-btn:hover::before{
  transform: scaleX(1);
}

.reg-btn{
  background: rgb(251, 36, 106);
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0;
  padding: 27px 44px;
  border-radius: 0px;
  cursor: pointer;
  /* transition: color 0.4s linear 0s; */
  position: relative;
  z-index: 1;
  border: 0px;
  overflow: hidden;
  margin: 0px;
}
.reg-btn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #da2461;
  z-index: -1;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);
}
.reg-btn:hover::before{
  transform: translateX(0);
  
}

.mobile_menu{
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 99;
  top: 0px;

}

.message_container{
  background: #fff;
  width: 300px;
  height: 50px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.success{
  color: green;
}
.error{
  color: red;
}

/* home section stylings */

.home-section {
	min-height: 800px;
	color: #506172;
	font-weight: 700;
	letter-spacing: 2px;
	/* text-transform: uppercase; */
	align-items: center;
  background-color: #eaecfe;
}
.home-section .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 85%;
  gap: 50px;
}
form.search-box{
  box-shadow: 0px 6px 29px 0px rgba(36, 43, 94, 0.08);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form.search-box .input-form{
  width: 45%;
  position: relative;
}
form.search-box .select-form{
  width: 34%;

}
form.search-box .search-form{
  width: 21%;

}
form.search-box .input-form input{
  height: 70px;
  width: 100%;
  color: #777777;
  font-size: 18px;
  font-weight: 400;
  padding: 9px 33px 9px 32px;
  border: none;
  border-radius: 0px;
  position: relative;

}
form.search-box .input-form input:focus{
  outline: none;
}

form.search-box .input-form::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 51px;
  background: #e0e4f8;
  right: 22px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%)
}

form.search-box .select-form select{
  /* width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 0px;
  padding: 11px 19px 11px 10px;
  color: #616875;
  line-height: 54px;
  border: 0; */
  display: none;
}
/* .select-form select option{
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
} */

form.search-box .select-form .nice-select {
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 0px;
  padding: 11px 19px 11px 10px;
  color: #616875;
  line-height: 54px;
  border: 0;
}
@media (max-width: 480px) { /* Assuming $xs */
  form.search-box .select-form .nice-select {
      margin-bottom: 20px;
      padding-left: 25px;
  }
}
@media (max-width: 576px) { /* Assuming $sm */
  form.search-box .select-form .nice-select {
      margin-bottom: 20px;
      padding-left: 25px;
  }
}
form.search-box .select-form .nice-select .list {
  width: 100%;
}
form.search-box .select-form .nice-select.open .list {
  width: 100%;
  border-radius: 0;
  border: 0;
}
form.search-box .select-form .nice-select::after {
  border-bottom: 1px solid #a9b6cd;
  border-right: 1px solid #a9b6cd;
  height: 12px;
  width: 12px;
  margin-top: -4px;
  right: 29px;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto; }
  .nice-select:hover {
    border-color: #dbdbdb; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #999; }
  .nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px; }
  .nice-select.open:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cccccc; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
            transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #f6f6f6; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; 
}

form.search-box .search-form a {
  width: 100%;
  height: 70px;
  background: #fb246a;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #fff;
  display: block;
  padding: 15px;
  border-radius: 0px;
  text-transform: capitalize;
  font-family: "Muli",sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.2;
  line-height: 38px;
  font-size: 14px
}

.home-section .row p{
  text-align: center;
}
.home-section .row a{
  margin-right: 8px;
  
}
.home-section .row a:hover{
  text-decoration: underline;

}
/* *home section job card styles starts* */

.joblist-area{

  max-width: 1240px;
  display: flex;
  border: 1px solid black;
  margin: auto;
  gap: 30px;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 18px;
}

.job-lists{
  border: 1px solid black; 
  width: 54%;
}
.job-details{
  border: 1px solid black;
  width: 44%;
}



.job-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 20px;
  max-width: 600px;

  transition: box-shadow 0.3s;
}
.job-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.job-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.job-company {
  display: flex;
  align-items: center;
}
.job-company img {
  border-radius: 8px;
  width: 60px;
  height: 60px;
  margin-right: 12px;
}
.job-title {
  font-size: 18px;
  font-weight: bold;
  color: #2a2a2a;
}
.job-meta {
  display: flex;
  align-items: center;
  color: #6b7280;
  font-size: 14px;
  margin-top: 4px;
}
.job-meta i {
  margin-right: 4px;
}
.job-meta span {
  margin-right: 16px;
}
.job-tags {
  display: flex;
  margin-top: 12px;
}
.job-tag {
  background-color: #f3f4f6;
  color: #6b7280;
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 12px;
  margin-right: 8px;
}
.job-tag.remote {
  background-color: #fef3c7;
  color: #d97706;
}
.job-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e5e7eb;
  padding-top: 12px;
  margin-top: 12px;
  font-size: 14px;
  color: #4b5563;
}
.job-footer i {
  margin-right: 4px;
}

/* *home section job card styles end* */

/* login section stylings */

.login-area{
    display: flex;
    align-items: center;
    justify-content: center;

}
.login-container {
    margin: 200px;
    background-color: transparent;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    max-height: 400px;
    border: 1px solid #b2d1e6;

}
.login-container h1 {
    font-size: 24px;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #12486b;
    text-align: center;
}
.login-container .form-control {
    margin-bottom: 2rem;
    color: #12486B;
    background-color: transparent;
    padding: 10px;
}

.login-container .btn-primary {
    background-color: #12486b;
    border-color: #12486b;
    width: 100%;
    padding: 10px;
}
.login-container .form-control::placeholder{
    color: gray;
    font-size: 14px;
}


/* register section stylings */

.register-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.registration-container {
    margin: 150px;
    background: transparent;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    border: 1px solid #b2d1e6;
}
.registration-container h1 {
    font-size: 24px;
    margin-bottom: 2rem;
    text-align: center;
    color: #12486b;
}
.registration-container p {
    text-align: center;
    margin-bottom: 2rem;
    color: #F5FCCD;
}
.registration-container .form-control {
    margin-bottom: 2rem;
    color: #12486b;
    background-color: transparent;
    padding: 10px;
}
.registration-container .btn-primary {
    background-color: #12486b;
    border-color: #12486b;
    width: 100%;
    padding: 10px;
}
.registration-container .btn-transparent {
    background-color: transparent;
    border-color: transparent;
    color: #12486b;
    border: 1px solid #F5FCCD;
    border-radius:10px;
    width: 100%;
    padding: 10px;
}
.registration-container .btn-transparent:active{
    background-color: #12486b;
    color: #f5fccd;
}
.registration-container .form-control::placeholder{
    color: rgb(61, 61, 61);
    font-size: 14px;
}


/* about section stylings */

.about-section {
	height: 100vh;
	font-size: clamp(2.5rem, 10vw, 6rem);
	color: #ccc;
	display: flex;
	justify-content: center;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	align-items: center;
}

/* footer section stylings */

.footer-menu li a:hover {
	text-decoration: none;
}
.footer-area .footer-social2 a:hover {
    background: var(--theme-color);
    color: #7f7f7f;
    border: 1px solid transparent;
}
.footer-area .footer-pera p {
    color: #868c98;
    padding-right: 52px;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.8;
}
@media (max-width: 768px) {
    .footer-area .footer-pera p {
        padding-right: 0px;
    }
}
.footer-area .footer-pera.footer-pera2 p {
    padding: 0;
}
.footer-area .footer-tittle h4 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: 400;
    text-transform: uppercase;
}
.footer-area .footer-tittle ul{
  padding: 0;
}
.footer-area .footer-tittle ul li {

  color: #868c98;
  margin-bottom: 9px;
  list-style: none;
  
}
.footer-area .footer-tittle ul li a {
  color: #868c98;
  font-weight: 300;
  text-decoration: none;
  transition: padding-left 0.20s ease-in-out;

}
.footer-area .footer-tittle ul li a:hover {
    color: var(--theme-color);
    padding-left: 5px;
    

}
.footer-area .footer-tittle-bottom span {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    margin-right: 11px;
}
@media (max-width: 576px) {
    .footer-area .footer-tittle-bottom span {
        font-size: 20px;
    }
}
.footer-area .footer-tittle-bottom p {
    display: inline-block;
    color: #fff;
}
.footer-area .footer-form {
    margin-top: 40px;
}
.footer-area .footer-form form {
    position: relative;
}
.footer-area .footer-form form input:focus{
  outline: none;
}
.footer-area .footer-form form input{
    width: 100%;
    height: 43px;
    padding: 10px 20px;
    color: #010b1d;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #fff;
}
.footer-area .footer-form form .form-icon button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 13px 22px;
  background: var(--theme-color);
  line-height: 1;
  border-radius: 0 3px 3px 0;
}
.footer-area .info.error {
    color: var(--theme-color);
}
.footer-bg {
    background: #010b1d;
}
.footer-bottom-area .footer-border {
    border-top: 1px solid #2d3544;
    padding: 33px 0px 20px;
}
.footer-bottom-area .footer-copy-right p {
    color: #888888;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 12px;
}
@media (max-width: 576px) {
    .footer-bottom-area .footer-copy-right p {
        margin-bottom: 20px;
    }
}
.footer-bottom-area .footer-copy-right p i {
    color: var(--theme-color);
}
.footer-bottom-area .footer-copy-right p a {
    color: var(--theme-color);
}
.footer-bottom-area .footer-copy-right p a:hover {
    color: #fff;
}

@media (max-width: 576px) {
    .footer-bottom-area .footer-social {
        float: left;
    }
}
.footer-bottom-area .footer-social a i {
    color: #888888;
    margin-left: 13px;
    font-size: 14px;
    transition: 0.4s;
}
.footer-bottom-area .footer-social a i:hover {
    color: var(--theme-color);
}
.footer-wejed {
    padding-top: 120px;
    padding-bottom: 40px;
}
@media (max-width: 992px) {
    .footer-wejed {
        padding-top: 50px;
        padding-bottom: 40px;
    }
}
@media (max-width: 768px) {
    .footer-wejed {
        padding-top: 50px;
        padding-bottom: 40px;
    }
}
@media (max-width: 576px) {
    .footer-wejed {
        padding-top: 50px;
        padding-bottom: 40px;
    }
}
@media (max-width: 480px) {
    .footer-wejed {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

.footer-padding {
  padding-top: 170px;
  padding-bottom: 20px;
}
@media (max-width: 1200px) { /* Assuming $laptop breakpoint */
  .footer-padding {
      padding-top: 170px;
      padding-bottom: 20px;
  }
}
@media (max-width: 992px) { /* Assuming $lg breakpoint */
  .footer-padding {
      padding-top: 170px;
      padding-bottom: 20px;
  }
}
@media (max-width: 768px) { /* Assuming $md breakpoint */
  .footer-padding {
      padding-top: 100px;
      padding-bottom: 20px;
  }
}
@media (max-width: 576px) { /* Assuming $sm breakpoint */
  .footer-padding {
      padding-top: 80px;
      padding-bottom: 0px;
  }
}
@media (max-width: 480px) { /* Assuming $xs breakpoint */
  .footer-padding {
      padding-top: 80px;
      padding-bottom: 0px;
  }
}


/* forgotte section stylings */

.forgote-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.forgot-password-container {
    margin: 200px;
    background-color: transparent;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    border: 1px solid #b2d1e6;
}
.forgot-password-container h1 {
    font-size: 24px;
    margin-bottom: 2rem;
    text-align: center;
    color: #12486b;
}
.forgot-password-container p {
    text-align: center;
    margin-bottom: 2rem;
    color: #12486b;
}
.forgot-password-container .form-control {
    margin-bottom: 2rem;
    padding: 10px;
    color: #12486b;
}
.forgot-password-container .btn-primary {
    background-color: #12486b;
    border-color: #12486b;
    width: 100%;
}
.forgot-password-container .btn-transparent {
    background-color: transparent;
    border-color: transparent;
    color: #12486b;
    
}
.forgot-password-container .form-control::placeholder{
    color: gray;
    font-size: 14px;
}

/* *home page hero section style* */

