{% extends 'layout/base.html' %}
{% block title %} List {% endblock title %}

{% block content %}

<div class="jobs_table">
    <form method="get" class="filter_area">
        <h2>{{ job.job_title }}</h2>
        <select name="status" id="status-filter">
            <option value="" {% if not selected_status %}selected{% endif %}>All</option>
            {% for key,value in status_choices %}
            <option value="{{ key }}" {% if selected_status == key %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
        <button type="submit">Apply</button>

    </form>
  <table class="responstable">
    <tr>
      <th>Applicant name</th>
      <th><span>Company Name</span></th>
      <th>previous CTC</th>
      <th>resume</th>
      <th>Action</th>

    </tr>
    
    {% for application in applications %}
    <tr>
      <td>{{application.name}}</td>
      <td>{{application.company}}</td>
      <td>{{application.salary}}</td>
      <td><a href="{{ application.resume.url }}" target="_blank">View Resume</a></td>
      <td>
        <form method="post"  class="application_actions">
          {% csrf_token %}
            <input type="text" name="application_id" value="{{application.id}}" hidden>
            <button type="submit" name="action" value="Select">Select</button>
            <button type="submit" name="action" value="Reject">Reject</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="next-page">
    <!-- {% if jobs.has_previous %}
    <a href="?page={{products.previous_page_number}}"><span><<</span></a>
    {% endif %} -->
    {% for i in applications.paginator.page_range %}
    <a href="?page={{i}}"><span>{{i}}</span></a>
    {% endfor %}

    <!-- {% if jobs.has_next %}
    <a href="?page={{products.next_page_number}}"><span>>></span></a>
    {% endif %} -->
</div> 

{% endblock content %}