{% extends 'accounts/shared/account_base.html' %}

{% block accounts_content %}
<div class="border border-bottom-0  px-3 shadow-sm p-4">
    <div class="row d-flex flex-row justify-content-between align-items-start">
        <div class="col-3">
            <h3>your profile</h3>
        </div>
        <button class="btn btn-primary col-1 btn-sm">edit</button>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <div class="col-md-4">
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">Email</h5>
              <p class="card-text">abhinavkukku48@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">Age</h5>
              <p class="card-text">23</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">Phone</h5>
              <p class="card-text">9745864305</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              
              <div class="card-body">
                <h5 class="card-title">Qualification</h5>
                <p class="card-text">Bachelor of cs</p>
              </div>
            </div>
          </div>
        <div class="col-md-4">
          <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">Smoking Habit</h5>
              <p class="card-text">Occuationaly</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              
              <div class="card-body">
                <h5 class="card-title">Drinking Habit</h5>
                <p class="card-text">Occuationaly</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              
              <div class="card-body">
                <h5 class="card-title">DOB</h5>
                <p class="card-text">31/08/2001</p>
              </div>
            </div>
        </div>
    
    </div>
    
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 ">
        <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex flex-row justify-content-between align-items-center">
                    <h4>Hobbies</h4>
                    <button class="btn btn-outline-secondary btn-sm p-1">Add</button>
                </div>
                <p class="card-text">
                    <span class="badge rounded-pill text-bg-primary p-2">Cooking</span>
                    <span class="badge rounded-pill text-bg-primary p-2">Reading</span>
                </p>
              </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex flex-row justify-content-between align-items-center">
                    <h4>Intrests</h4>
                    <button class="btn btn-outline-secondary btn-sm p-1">Add</button>
                </div>
                <p class="card-text">
                    <span class="badge rounded-pill text-bg-primary p-2">Teaching</span>
                    <span class="badge rounded-pill text-bg-primary p-2">Primary</span>
                </p>
              </div>
            </div>
        </div>
        
    
    </div>
    <div class="row d-flex flex-row justify-content-between align-items-start mt-3">
        <div class="col-5">
            <h3>Uploaded Images</h3>
        </div>
        <button class="btn btn-primary col-1 btn-sm">upload</button>
    </div>
    <div class="row-cols-1 row-cols-md-5 g-4 mt-3">
        
        <img src="../static/images/buy-1.jpg" class="img-thumbnail" alt="...">
        <img src="../static/images/buy-1.jpg" class="img-thumbnail" alt="...">
        <img src="../static/images/buy-1.jpg" class="img-thumbnail" alt="...">
        <img src="../static/images/buy-1.jpg" class="img-thumbnail" alt="...">

    </div>
</div>




{% endblock accounts_content %}