
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid navarea">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img class="logo-area" src="../static/images/job.png" alt="Logo">
    </a>
    <!-- Profile icons (centered on small screens) -->
    <div class="profile-icons d-lg-none mx-auto">
      <a href="#" class="nav-link"><i class="bi bi-person-circle"></i></a>
      <a href="#" class="nav-link"><i class="bi bi-person-circle"></i></a>
      <a href="#" class="nav-link"><i class="bi bi-person-circle"></i></a>
    </div>
    <!-- Navbar toggle button (for mobile view) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mx-auto">
        <!-- Navigation links -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Company</a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Jobs</a>
          
        </li>
      </ul>
      {% if user.is_authenticated %}
      <div class="auth">
        <a href="{% url 'logout' %}"><button class="login-btn">Logout</button></a>
      </div>
      {% else %}
      <div class="auth">
        <a href="{% url 'login' %}"><button class="login-btn">Login</button></a>
        <a href="{% url 'register' %}"><button class="reg-btn">Register</button></a>
      </div>
      {% endif %}
      <div class="profile-icons d-none d-lg-flex">
        
        <!-- <a href="#" class="nav-link"><img src="../static/images/mail.svg" class="personal-icons" alt=""></a>
        <a href="#" class="nav-link"><img src="../static/images/bell.svg" class="personal-icons" alt=""></a> -->
        
        {% if user.is_authenticated %}
        <div class="dropdown">
          <button class="dropbtn"><a href="#" class="nav-link"><img src="../static/images/user.svg" class="personal-icons" alt=""></a></button>
          <div class="dropdown-content">
              <a  href="#">{{user.first_name}}</a>

              <a href="#">messages</a>
              <a href="{% url 'profile_view' %}">Profile</a>
              <a href="#">Logout</a>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</nav>
<!-- <div class="mobile_menu d-block d-lg-none">
  <ul>
    <li>home</li>
    <li>About</li>
    <li>Jobs</li>
    <li>Contact</li>
  </ul>
</div> -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
