{% extends 'layout/base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}

<section class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <!-- form -->
                <form action="#" class="search-box">
                    <div class="input-form">
                        <input type="text" placeholder="Job home-sectionTittle or keyword">
                    </div>
                    <div class="select-form">
                        <div class="select-itms">
                            <select name="select" id="select1">
                                <option value="">Location BD</option>
                                <option value="">Location PK</option>
                                <option value="">Location US</option>
                                <option value="">Location UK</option>
                            </select>
                            <div class="nice-select">
                                <span class="current">
                                    Location BD
                                </span>
                                <ul class="list">
                                    <li data-value class="option">Location BD</li>
                                    <li data-value class="option">Location PK</li>
                                    <li data-value class="option">Location US</li>
                                    <li data-value class="option">Location UK</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="search-form">
                        <a href="#">Find job</a>
                    </div>	
                </form>	
            </div>
            <p><span><a href="">Post a job today</a></span>and connect with quality candidates</p>
        </div>

    </div>

    <div class="joblist-area">
        <div class="job-lists">
            <div class="job-card">
                <div class="job-header">
                    <div class="job-company">
                        <img src="https://via.placeholder.com/60" alt="Company Logo">
                        <div>
                            <div class="job-title">Rockstar Games New York</div>
                            <div class="job-meta">
                                <span><i class="fas fa-map-marker-alt"></i> Las Vegas, USA</span>
                                <span><i class="fas fa-calendar-alt"></i> 2 Days ago</span>
                            </div>
                        </div>
                    </div>
                    <i class="far fa-bookmark"></i>
                </div>
                <div class="job-tags">
                    <div class="job-tag">Full Time</div>
                    <div class="job-tag remote">Remote</div>
                </div>
                <div class="job-footer">
                    <div><i class="fas fa-dollar-sign"></i> $23,000 - $25,000 /Month</div>
                    <div><i class="fas fa-users"></i> 7 Vacancy</div>
                </div>
            </div>
            <div class="job-card">
                <div class="job-header">
                    <div class="job-company">
                        <img src="https://via.placeholder.com/60" alt="Company Logo">
                        <div>
                            <div class="job-title">Rockstar Games New York</div>
                            <div class="job-meta">
                                <span><i class="fas fa-map-marker-alt"></i> Las Vegas, USA</span>
                                <span><i class="fas fa-calendar-alt"></i> 2 Days ago</span>
                            </div>
                        </div>
                    </div>
                    <i class="far fa-bookmark"></i>
                </div>
                <div class="job-tags">
                    <div class="job-tag">Full Time</div>
                    <div class="job-tag remote">Remote</div>
                </div>
                <div class="job-footer">
                    <div><i class="fas fa-dollar-sign"></i> $23,000 - $25,000 /Month</div>
                    <div><i class="fas fa-users"></i> 7 Vacancy</div>
                </div>
            </div>
        </div>
        <div class="job-details">
            hello
        </div>
    </div>

    <script>
        document.querySelector('.nice-select').addEventListener('click', function() {
            document.querySelector('.nice-select').classList.toggle('open');
        });
        
        document.querySelectorAll('.option').forEach((item)=> {
            item.addEventListener('click', () => {
                document.querySelector('.current').innerHTML = item.innerHTML;
                // console.log(item.innerHTML);
            })
        })
    </script>
</section>

{% endblock content %}
