{% extends 'layout/base.html' %}
{% load static %}
{% block title %} forgot password {% endblock title %}

{% block content %}

<div class="forgote-area">
    {% if email_sent %}
    <div class="alert alert-success" role="alert">
        Password reset email has been sent to {{ email }}. Please check your inbox and follow the instructions to reset your password.
    </div>
    {% else %}
    <div class="forgot-password-container">
        <h1>Password reset</h1>
        <p>enter your new passwod and confirm it twise</p>
        <form>
            <div class="form-group">
                {% csrf_token %}
                {{ form.email }}
                {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
                
                <!-- <input type="email" class="form-control" id="email" placeholder="Enter email"> -->
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
            <a href="{% url 'login' %}" class="btn btn-transparent btn-block mt-2">Back to Login</a>
        </form>
    </div>
    {% endif %}
</div>


{% endblock content %}