{% extends 'layout/base.html' %}
{% load static %}
{% block title %} Register {% endblock title %}

{% block content %}

    <div class="register-area">
        <div class="registration-container">
            <h1>Profile</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-group">
                    {{ form.age }}
                   
                    <!-- <input type="text" class="form-control" id="Username" name="Username" placeholder="Username"> -->
                </div>
                <div class="form-group">
                    {{ form.date_of_birth }}
                    <!-- <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"> -->
                </div>
                
                <div class="form-group">
                    <label for="">{{ form.Hobbies.label }}</label>
                    {{ form.Hobbies }}
                    <!-- <input type="password" class="form-control" id="password" name="password" placeholder="Password"> -->
                </div>
                <div class="form-group">
                    <label for="">{{ form.Interest.label }}</label>
                    {{ form.Interest }}
                    <!-- <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Re-enter Password"> -->
                </div>
                <div class="form-group">
                    
                    {{ form.qualification }}
                    <!-- <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Re-enter Password"> -->
                </div>
                <div class="form-group">
                    <label for="">{{ form.smoking_habit.label }}</label>
                    {{ form.smoking_habit }}
                    <!-- <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Re-enter Password"> -->
                </div>
                <div class="form-group">
                    <label for="">{{ form.drinking_habit.label }}</label>
                    {{ form.drinking_habit }}
                    <!-- <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Re-enter Password"> -->
                </div>
                <div class="form-group">
                    <!-- <label for="">{{ form.country.label }}</label> -->
                    {{ form.profile_picture }}
                    <!-- <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Re-enter Password"> -->
                </div>
                <div class="form-group">
                    {{ form.images }}
                    <!-- <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Re-enter Password"> -->
                </div>
                <div class="form-group">
                    {{ form.short_reel }}
                    <!-- <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Re-enter Password"> -->
                </div>
                <button type="submit" class="btn btn-primary btn-block">Save</button>
                {{ form.errors }}
                
            </form>
            {% if messages %}
                <div class="message_container">
                    {% for message in messages %}
                    <li style="font-size: 10px;" class="{{message.tags}}">{{message}}</li>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    

{% endblock content %}