{% extends 'layout/base.html' %}
{% load static %}
{% block title %} User Selection {% endblock title %}

{% block content %}

<div class="message-area col-md-6 d-flex justify-content-center mt-3">
    {% if messages %}
        <div id="message_container">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
{% endif %}
</div>

<section class="user-section">
    
    
    <div id="user-container">

        <p>who you  <span class="accent">are?</span></p>
    
        <div class="buttons-section">
    
    
            <div class="user-button">
    
                <div class="back"></div>
                <a href="{% url 'accounts:employer_register' %}"><button class="employe-btn" type="button">Employer </button></a>
                <div class="appear confirm"></div>
            </div>
            <div class="user-button">
                
                <div class="back">
                <div class="appear cancel"></div>
                </div>
                <a href="{% url 'accounts:jobseeker_register' %}"><button class="jobseeker-btn" type="button">Job Seeker</button></a>
            </div>
        </div>
    </div>
    
    
</section>

<script>
    // Hide messages after 5 seconds (5000 milliseconds)
    setTimeout(function() {
        var messageContainer = document.getElementById('message_container');
        if (messageContainer) {
            messageContainer.style.display = 'none';
        }
    }, 3000);
</script>

{% endblock content %}